input[type="radio"]+label::before {
    content: "\a0";
    /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    width: 0.14rem;
    height: 0.14rem;
    margin-right: 0.1rem;
    border: 1px solid #9B9B9B;
    border-radius: 50%;
    /*margin-left: .3rem;*/
    /*text-indent: .15em;*/
    /*line-height: 1;*/
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

input[type="radio"]:checked+label::before {
    background-image: url('../image/choose.png');
    background-size: .14rem .14rem;;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #376AFC;
    background-clip: content-box;
    /*padding: .005rem;*/
}

.img{
  height: .18rem;
  line-height: .18rem;
  padding: 0 .08rem 0 .2rem;
  color: #F5A623;
  border-radius: .11rem;
  font-size: .12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:url("../image/grade.png") #FFF4E0 .02rem .02rem no-repeat;
  background-size: .14rem auto;
  overflow: hidden;
}
